<a class="logo" href="/index.html">Abqaiq Recreation</a>
<nav class="main-nav" aria-label="Primary">
  <button id="navToggle" class="nav-toggle" aria-expanded="false" aria-controls="navMenu">☰</button>
  <ul id="navMenu" class="nav-menu">
    <li><a href="/index.html">Home</a></li>
    <li class="has-sub">
      <a href="/areas.html">Areas</a>
      <ul class="submenu">
        <li><a href="/areas/al-farhah.html">Al Farhah Bachelor Camp</a></li>
        <li class="has-flyout">
          <a href="#">Abqaiq Main Camp <span class="side-arrow">▶</span></a>
          <ul class="flyout-menu">
            <li><a href="/areas/oasis.html">Oasis Complex</a></li>
            <li><a href="/areas/al-saadah.html">Al Sa’adah Complex</a></li>
            <li><a href="/areas/biodiversity.html">Biodiversity Parks</a></li>
            <li><a href="/areas/main-camp.html">Other Facilities</a></li>
          </ul>
        </li>
        <li><a href="/areas/beaches.html">Beaches</a></li>
      </ul>
    </li>
    <li class="has-sub">
      <a href="#">Categories</a>
      <ul class="submenu">
        <li><a href="/categories.html#fitness">Aquatics</a></li>
        <li><a href="/categories.html#fitness">Entertainments</a></li>
        <li><a href="/categories.html#fitness">Fitness</a></li>
        <li><a href="/categories.html#parks">Halls</a></li>
        <li><a href="/categories.html#sports">Nature</a></li>
        <li><a href="/categories.html#parks">Parks</a></li>
        <li><a href="/categories.html#sports">Sports</a></li>
      </ul>
    </li>
    <li><a href="/contact.html">Contact</a></li>
  </ul>
</nav>